$main-color : #2E2E2E;
$secondary-color : #FFFFFF;

$bluelight : #93A5FF;
$bluedark : #424D83;

$blueform : #384170;
$bluebackground : #F7F8FF;
$bluepaycard : #2D355D;

$font-title : 'Roboto', sans-serif;
$font-main : 'Nunito', sans-serif;