@import 'fonts';
@import 'variables';
@import 'reset';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $main-color;
    max-width: 1920px;
}

header {
    background:url('../img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 852px;

    ul {
        display: flex;

        div {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            padding: 50px 30px 13px 30px;
            
            &:hover {
            background-color: $bluelight;
            cursor: pointer;
            }
        }
    }

    nav {
        margin: 0 140px;
        display: flex;
        justify-content: space-between;

        .logo{
            margin-top: 50px;
        }

        .navigation {
            display: flex;
        }
        
        a {
            text-decoration: none;
            font-family: $font-main;
            color: $secondary-color;

            :hover {
                background-color: $bluelight;
            }

        }

        .nav_button {
            background-color: $secondary-color;
            font-family: $font-main;
            padding: 18px;
            border-radius: 10px;
            font-weight: 700;
            display: inline;
            margin: 30px 0 0 30px;

            a {
                color: $bluelight;
            }

            img {
                margin-left: 10px;
            }
        }
    }

    
}

.header--description {

    display: flex;
    align-items: center;
    margin: 100px 140px;

    > div {
        width: 50%;

        > img {
            width: 100%;
        }
    }

    h1 {
        font-family: $font-title;
        font-weight: 700;
        font-size: 49px;
        color: $secondary-color;
    }

    p {
        font-family: $font-main;
        color: $secondary-color;
        font-size: 28px;
        margin: 15px auto 45px auto;
    }
}

input, select {
    height: 55px;
    background-color: $blueform;
    border-style: none;
    font-size: 20px;
    color: $secondary-color;
    padding: 0 13px;    
}

input {
    width: 345px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

select {
    width: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    width: 222px;
    height: 55px;
    color: $secondary-color;
    background-color: $bluelight;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600px;
    margin: 0 30px;
    cursor: pointer;
}

h2 {
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 10px;
}

.whyus--content {
    text-align: center;
    padding-top: 75px;
    margin: 0 145px;

    p {
        font-size: 28px;
    }

    h3 {
        font-size: 23px;
        font-weight: 700;
    }

    .whyus--informations {
        margin-top: 30px;
        display: flex;
        height: 645px;

        > div {
            width: 50%;
        }

        >:first-child {
            padding-right: 120px;
        }

        >:last-child {
            img {
                margin-top: 90px;
                border: 30px solid $secondary-color;
                border-radius: 5px;
                filter: drop-shadow(0 0 0.75rem rgb(208, 208, 208));
            }
        }
    }
}

.whyus--informations_card {
    display: flex;
    margin: 60px auto;

    h3 {
        margin-bottom: 24px;
    }

    img {
        margin: 0 30px auto 30px;
        object-fit: contain;
    }
    div {
        display: block;
        text-align: left;

        p {
            font-size: 23px;
        }
    }
}

.dotted-square {
    background: url('../img/dotted-square.png');
    position: relative;
    width: 241px;
    height: 241px;
}

.whyus_top-square {
    left: 570px;
    bottom: 470px;
}
    
.whyus_bottom-square {
    bottom: 430px;
    right: 30px;
}

.support {
    background-color: $bluebackground;
    text-align: center;

    .support--content {
        padding: 105px 145px;        
    }

    p {
        font-size: 28px;
    }

}

.support--cards {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 90px;
}

.support_card {
    width: 765px;
    border-radius: 5px;
    text-align: left;
    color: $secondary-color;
    padding: 45px 50px;
    overflow: hidden;

    h3 {
        font-size: 23px;
        font-weight: 700;
        padding: 24px 0;
    }

    p {
        font-size: 20px;
        line-height: 37px;

    }
    
    :first-child {
        padding: 10px;
        border-radius: 5px;
    }

    img:last-of-type { 
        top: -20px;
        left: 340px;
        position: relative;
    }
}

.build_card {
    background-color: $bluelight;

    :first-child {
        padding: 10px 20px;
        background-color: $bluedark;
    }
}

.move_card {
    background-color: $bluedark;

    :first-child {
        background-color: $bluelight;
    }

    img:last-of-type {
        top: -40px;
    }
}

.support_button {
    background-color: $secondary-color;
    padding: 18px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    float: right;
    text-decoration: none;
    color: $bluelight;
}

#arrow {
    all: unset
}

.services--content {
    text-align: center;
    padding: 105px 145px;

    p {
        font-size: 28px;
    }

    >div {
        display: flex;
        margin-top: 85px;
        justify-content: space-between;
    }

}

.services--card {
    width: 360px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 10px #eee;

    h3 {
        font-size: 23px;
        font-weight: 700;
        margin: 24px auto;
    }

}

.services--card_description {
    padding: 80px 40px;
    border-bottom: solid #eee;

    p {
        font-size: 20px;
        line-height: 37px;
    }
}

.services--card_price {
    font-size: 20px;
    margin: 40px auto;

    span {
        font-size: 40px;
    }
}

.services--card_customize {

    margin: 60px auto;
    display: none;

    a {
        background-color: $bluebackground;
        border-radius: 10px;
        font-weight: 700;
        text-decoration: none;
        color: $bluelight;
        display: block;
        width: max-content;
        margin: auto;
        font-size: 18px;
        padding: 18px;
        cursor: pointer;
    }
    
}

.services--card:hover > .services--card_customize {
    display: block;
}

.testimonials {
    background-color: $bluebackground;
    text-align: center;

    .testimonials--content {
        max-height: 700px;
        padding: 105px 200px;
        justify-content: space-between;

        >p:first-of-type {
            padding-bottom: 85px;
        }

        >div {
            display: flex;
            

            >div {
                width: 50%;
                display: flex;
                text-align: left;
                font-size: 23px;
                font-style: italic;
                line-height: 37px;

                img {
                    object-fit: contain;
                    margin-bottom: 25px;
                }

                p:last-of-type {
                    margin: 25px auto 75px auto;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    p {
        font-size: 28px;
    }

}

.stars {
    margin-bottom: 25px;
}

.testimonials_top-square {
    bottom: 675px;
    left: 1500px;
}

.testimonials_bottom-square {
    bottom: 355px;
    right: 215px;
}

.clients {
    &--content {
        padding: 70px 140px;
        margin-bottom: 110px;
        text-align: center;

        p {
            font-size: 28px;
            padding-bottom: 85px;
        }

        a {
            background-color: $bluelight;
            padding: 20px;
            border-radius: 10px;
            text-decoration: none;
            color: $secondary-color;
            font-size: 18px;
        }
    }

    &--logos {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
    }
}

footer {
    background-image: url('../img/footer_bg.png');
    background-size: cover;

    a {
        text-decoration: none;
        color: $secondary-color;
    }

    .footer--pay {
        padding: 20px 25px;
        background: $bluepaycard;
        border-radius: 10px;

        &:nth-child(5){
            padding: 20px 0;
            img {
                margin: 0;
            }
        }

        img {
            vertical-align: middle;
        }
    }

    .footer-content {
        padding: 140px;

        > div {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            div {
                display: block;
            }

            div:last-child {
                text-align: right;
                img {
                    margin: 6px;
                }
            }
        }

        h4 {
            font-size: 23px;
            color: $secondary-color;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        p {
            font-size: 20px;
            color: $secondary-color;
            margin-top: 24px;
        }

        .footer-column {

            li {
                margin-bottom: 20px;
                font-size: 20px;
            }

            img {
                height: 34px;
            }

            &:last-child{
                text-align: left;
            }
        }

    }

    
}


@media screen and (max-width: 1250px) {

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }
    
    header {
        background-size: cover;
        height: 500px;
        width: 100%;

        nav {
            margin: 0 50px;
        }
    }

    .header--description {
        margin: 50px;

        h1 {
            font-size: 29px;
        }

        p {
           font-size: 18px;
        }

        input, select, button {
            height: 35px;
            font-size: 16px;
            width: auto;
        }

        button {
            margin: 10px 0 0 0;
        }
    }

    .whyus--content {
        padding: 0;
        margin: 0 75px;

        p {
            font-size: 18px;
        }

        .whyus--informations {
            display: block;
            height: auto;
    
            > div {
                width: 100%;
                max-height: 700px;
            }
    
            >:first-child {
                padding: 0;
            }
        }
    }

    .support {

        p {
            font-size: 18px;
        }

        .support--cards {
            display: block;

            .support_card {
                width: auto;
                margin-bottom: 40px;
            }

            .support_button {
                margin-top: 0;
            }
        }
    }

    .services--content {
        padding: 105px 75px;

        p {
            font-size: 18px;
        }

        & > div {
            flex-wrap: wrap;
        }

        .services--card {
            margin: 20px;
            width: 340px;
        }

        .services--card_customize {
            display: block;
        }
    }

    .testimonials {

        p {
            font-size: 18px;
        }

        .testimonials--content {
            padding: 55px 100px;

            div > div p:last-of-type {
                margin: 25px auto;
            }
        }
        
        &_top-square {
            bottom: 750px;
            left: 700px;
        }
    }

    .clients--content {
        padding: 35px 70px;

        p {
            font-size: 18px;
        }

        .clients--logos {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            .logo {
                margin: 30px;
            }
        }
    }

    footer {
        .footer-content {
            padding: 100px;
        }

        .footer-column {
            margin: 0 20px;
        }
    }
}

@media screen and (max-width: 850px) {


    .services--content {
        padding: 105px 25px;
    }

    .support_card img:last-of-type {
        left: 150px;
    }

    .testimonials_top-square {
        left: 550px;
    }
}

@media screen and (max-width: 500px) {
    
    header nav .navigation {
        display: none;
    }

    .header--description > div {
        width: 100%;
    }

    .header--description > div > img {
        display: none;
    }
    header {
        display: block;
    }

    .whyus--content {
        margin: 0 35px;
    }

    .whyus--informations_card h3 {
        margin-bottom: 20px;
    }

    .whyus--informations_card div p {
        font-size: 16px;
    }

    .whyus--content .whyus--informations > :last-child {
        display: none;
    }

    .support .support--content {
        padding: 55px;
        overflow: hidden;
    }

    .support_card {
        padding: 25px;
    }

    .testimonials .testimonials--content {
        padding: 55px 10px;
        max-height: 1400px;
        overflow: hidden;
    }

    .testimonials .testimonials--content > div > div {
        display: block;
    }

    .testimonials .testimonials--content > div {
        display: block;
    }

    .testimonials .testimonials--content > div > div {
        width: 100%;
    }

    .testimonials_bottom-square {
        bottom: 155px;
        right: 115px;
    }

    .testimonials_top-square {
        left: 250px;
        bottom: 1250px;
    }

    .clients--content .clients--logos .logo {
        margin: 0;
    }

    footer {

        .footer-content {
            padding: 100px 50px;
    
            &> div {
                display: block;
            }

            h4 {
                margin: 30px auto;
            }
        }
    }

}